{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    
        <div  class="container pitches-main">
                <h2 class="text-center">Welcome To masterZac Blog</h2>
                <p class="text-center">Get the trending issues in various topics including politics, sports and business.</p>
                <p>We will provide you with a full coverage of interesting topics that are trending every day both locally and internationally</p>
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="tab" href="#all"><strong>All Blogs</strong> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#politics">Politics Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#sports">Sports Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#celebrity">Celebrity Gossip Blogs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div  class="container tab-pane active" id="all"><br>
                    {{ macro.display(blogs) }}
                </div>
                <div  class="container tab-pane fade" id="motivation"><br>
                    {{ macro.display(politics)}}
                </div>
                <div  class="container tab-pane fade" id="jokes"><br>
                    {{ macro.display(sports) }}
                </div>
                <div  class="container tab-pane fade" id="education"><br>
                    {{ macro.display(celebrity) }}
                    
                </div>
            </div>
        </div>
{% endblock%}