{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container-fluid">
    
  <div class="row">
    <div class="col intro">
        <h2>Daily Inspirational Quotes</h2>
        <p>Get inspired with great quotes every time tou visit our blog</p>
        <p>Visit the blogs page to view current blogs</p>
        <div class="quote-details">
            <p>Id: <span>{{quotes.id}}</span> </p>
            <p>Author: <span>{{quotes.author}}</span> </p>
            <p>Quote: <span>{{quotes.quote}}</span> </p>  
            <button class="btn" href="{{quotes.permalink}}">View More Details</button>  
        </div>
    </div>
    <div class="col image-col">
        <img src="https://images.unsplash.com/photo-1589652717521-10c0d092dea9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
    
</div>

{% endblock%}